<div class="container">
    <div class="p-text-center">
        <img class="img-fluid" src="../assets/images/menunggu.png" alt="" style="height: 350px">
        <h3>Sukses</h3>
        <p>Pesanan anda segera diproses</p>
        <p>Selamat menunggu</p>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-6">6</div>
    <div class="p-col-6">6</div>
    <div class="p-col-6">6</div>
    <div class="p-col-4">6</div>
    <div class="p-col-2">6</div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">A</div>
    <div class="p-col-12 p-md-6 p-lg-3">B</div>
    <div class="p-col-12 p-md-6 p-lg-3">C</div>
    <div class="p-col-12 p-md-6 p-lg-3">D</div>
</div>