<div class="container">
    <div class="row">
      <div class="col-lg-6 text-left mt-5">
        <h2 class="font-weight-bold">Delicious Food Menu</h2>
        <h2>In your phone</h2>
        <p>Ayo segera pilih dan pesan makanan favorit anda</p>
        <button class="linov-btn" to="/foods"> Pesan</button>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid" src="../assets/images/ilustrasi.png" height="400px" alt="">
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-lg-6">
        <h2 class="text-left mb-3">Best <span><strong>Foods</strong></span></h2>
      </div>
      <div class="col-lg-6 ml-auto text-right">
        <button class="linov-btn" to="/foods">Lihat semua</button>
      </div>
    </div>
  </div>
<app-cart></app-cart>
<app-food-detail></app-food-detail>
<app-product-card></app-product-card>
<app-success></app-success>
<div class="text-center">
    <hr>
    <p class="copy">2020 Copyright Reynaldi Putra Hertiansa</p>
</div>