<div class="container">
    <div class="p-grid">
      <div class="col-12 p-lg-6 p-text-left">
        <h2 class="p-text-bold">Delicious Food Menu</h2>
        <h2>In your phone</h2>
        <p>Ayo segera pilih dan pesan makanan favorit anda</p>
        <button pButton type="button" label="Pesan" icon="pi pi-arrow-right" iconPos="left" class="linov-btn" routerLink="/foods"></button>
      </div>
      <div class="col-12 p-lg-6">
        <img class="img-fluid" src="../assets/images/{{img}}.png" height="400px" alt="">
      </div>
    </div>
    <div class="p-grid">
      <div class="col-12 p-lg-6 ">
        <h2 class="p-text-left">Best <span><strong>Foods</strong></span></h2>
      </div>
      <div class="col-12 p-lg-6  p-text-right p-mt-3">
        <button class="linov-btn" label="Lihat semua" icon="pi pi-eye" iconPos="left" pButton type="button" routerLink="/foods"> </button>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
<div  class="copy">
    <hr>
    <p>2020 Copyright Reynaldi Putra Hertiansa</p>
</div>
